* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 80px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #333;
}

input[type=text],
input[type=password],
input[type=email],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* TABLE */

table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

.actions a {
    margin: 0 5px;
    color: #007bff;
}
.bth {
    border: 2px solid #1f2937;      /* dark grey border */
    padding: 6px 18px;
    border-radius: 15px;
    display: block;
    width: fit-content;
    margin: 12px auto;

    background-color: #111827;     /* dark background */
    color: #3b82f6;                /* nice blue text */
    font-weight: 600;
}


	
